<footer>
  <br>
  <!-- Add fa icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <hr />

  <p style="text-align: center;">
    Hong Kong Traffic Collisions Dashboard
  </p>

  <p style="text-align: center;color: #454545;">
    <em>A work by Hong Kong Districts Info, an open source collaboration team for Hong Kong</em>
  </p>
  
  <p style="text-align: center;">
    <a href="https://hong-kong-districts-info.github.io/" title="Our website" class="fas fa-globe-asia"></a>
    <a href="https://github.com/Hong-Kong-Districts-Info" title="GitHub" class="fab fa-github"></a>
    <a href="mailto: hkdistricts.info@gmail.com" title="Email us" class="fas fa-envelope"></a>
  </p>

  <br>
</footer>
